includeConfig 'docker.config'

process {
  executor = 'google-lifesciences'
  workDir = 'gs://nextflowtestcodex/WORK_DIR'
}

google {
    project = 'codex-295414'
    location = 'northamerica-northeast1'
    region  = 'northamerica-northeast1'
    lifeSciences.bootDiskSize = '32 GB'
}

docker {
       enabled = true
}

process {
  withName:illumination   {
    cpus = 4
    memory = '16 GB'
  }
  withName:coreograph     {
    cpus = 4
    memory = '16 GB'
  }
  withName:ashlar         {
    cpus = 4
    memory = '16 GB'
  }
  withName:unmicst        {
    cpus = 4
    memory = '16 GB'
  }
  withName:ilastik        {
    cpus = 4
    memory = '16 GB'
  }
  withName:s3seg          {
    cpus = 4
    memory = '16 GB'
  }
  withName:quantification {
    cpus = 4
    memory = '16 GB'
  }
  withName:naivestates    {
    cpus = 4
    memory = '16 GB'
  }
}
