process {
  withName:illumination   {
    time   = '1h'
    memory = '32G'
  }
  withName:coreograph     {
    time   = '1h'
    memory = '32G'
  }
  withName:ashlar         {
    time   = '1h'
    memory = '32G'
  }
  withName:unmicst        {
    time   = '1h'
    memory = '32G'
  }
  withName:ilastik        {
    cpus   = 8
    time   = '1h'
    memory = '32G'
  }
  withName:s3seg          {
    cpus   = 6
    time   = '1h'
    memory = '32G'
  }
  withName:quantification {
    time   = '1h'
    memory = '32G'
  }
  withName:naivestates    {
    time   = '1h'
    memory = '32G'
  }
}
